// The following two lines import the default Sencha Touch theme. If you are building
// a new theme, remove them and the add your own CSS on top of the base CSS (which
// is already included in your app.json file).
@import 'sencha-touch/default';
@import 'sencha-touch/default/all';

// Custom code goes here..

// Examples of using the icon mixin:
// @include icon('user');

.jma-list {
	.jma-item {
		.title {

		}
		.datetime {
			color: #CCC;
			font-size: smaller;
			text-align: right;
		}
	}
}

.detail-contents {
	padding: 10px;

	.title {
		margin: 5px 0;
		font-weight: bold;
		font-size: larger;		
	}
	.datetime {
		color: #999;
		font-size: smaller;
		text-align: right;
	}
	.headlines {
		list-style: none;
		margin: 10px 5px;
		padding: 0;
		.text {

		}
	}
}